body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 15px 300px;
    flex-shrink: 1;
}

.Logo {
    width: 50px;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

ul {
    list-style-type: none;/*remove dots from the ul*/
    margin: 0;
    padding: 0;
    /*ul have a marg. and pad. default*/
}

a {
    text-decoration: none;/*remove underline from links*/
    color: #F9FAF8;
    size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.first-section {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 90px 300px;
    gap: 10px;
}

.one-left-text {
    display: flex;
    flex-direction: column;

}

h1 {
    color: #F9FAF8;
    size: 48px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 300px;
}

.one {
    size: 18px;
    color: #E5E7EB;
    width: 300px;
    padding: 0;
}

.img-1section {
    width: 450px;
    display: flex;
    flex-shrink: 1;
}

.sign-up {
    display: flex;
    background-color: #3882F6;
    padding: 10px 24px;
    border: 1px;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    width: fit-content;
}

.second-section {
    background-color: white;
    padding: 50px 300px;
    padding-bottom: 150px;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    justify-content: center;
}
.images-zone {
    width: 150px;   
    border: 3px solid #6880a7;
    border-radius: 15px;
}

.Container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-align: center;
}

.img-font {
    color: rgb(74, 74, 74);
}

.third-section {
    background-color: #E5E7EB;
    padding: 75px 400px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.asuna-quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    align-self: center;
    text-align: center;
}

.asuna {
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
}

.quarter-section {
    background-color: white;
    padding: 50px 300px;
}

.square {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 50px 125px;
}


.square-text {
    display: flex;
    flex-direction: column;
}

.square-header {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    margin: 0%;
    padding: 0%;
}

.square-subtext {
    color: #F9FAF8;
    font-size: 14px;
    margin: 0%;
    padding: 0%;
}

.square-button {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    border-radius: 10px;
    color: #F9FAF8;
    width: 100px;
    font-weight: 700;
}


footer {
    background-color: #1F2937;
    text-align: center;
    padding: 50px;
}